<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <div class="menu">
      <ion-buttons slots="start">
           <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </div>
      <div class="title">
       <ion-title>Anúncio</ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngFor= " let republica of republicas">
  <img src="{{republica.imagem}}"/>
  <ion-card-header>
    <ion-card-subtitle><h3>Postado por {{republica.nome}}</h3></ion-card-subtitle>
    <ion-card-title><h2>{{republica.endereco}}</h2></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <h3>{{republica.descricao}}</h3>
  </ion-card-content>
  <div class="estrelas"><img src="{{republica.imagemRating}}"></div>
  <h4>{{republica.rating}}</h4>
  <div class="botao">
  <ion-button shape="round" fill="outline">Entre em contato com o anunciante!</ion-button>
  </div>
</ion-card>
</ion-content>