<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <div class="menu">
      <ion-buttons slots="start">
           <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </div>
      <div class="title">
       <ion-title>Anúncio</ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-card
   (buttonPressed)="handleButtonEvent($event)" 
   [imagem]="imagem"
   [descricao]="descricao"
   [nome]="nome"
   [imagemRating]="imagemRating"
   [endereco]="endereco"
   [rating]="rating">
  </app-card>

  <ion-card>
    <ion-card-title>
      <h3>Comentários</h3>
    </ion-card-title>
  </ion-card>

</ion-content>