<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-buttons slots="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Favoritos</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-card
   (buttonPressed)="handleButtonEvent($event)" 
   [imagem]="imagem"
   [descricao]="descricao"
   [nome]="nome"
   [imagemRating]="imagemRating"
   [endereco]="endereco"
   [rating]="rating">
  </app-card>

  <app-card
  (buttonPressed)="handleButtonEvent($event)" 
  [imagem]="imagem2"
  [descricao]="descricao2"
  [nome]="nome2"
  [imagemRating]="imagemRating2"
  [endereco]="endereco2"
  [rating]="rating2">
 </app-card>
</ion-content>
