<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-buttons slots="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Favoritos</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="anuncio">
    <ion-card>
      <img src="../assets/casa.jpg"/>
      <ion-card-header>
        <ion-card-subtitle><h3>Postado por V.</h3></ion-card-subtitle>
        <ion-card-title><h2>Rua Sebastião Lacerda 35, Laranjeiras</h2></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h3>Possui 4 quartos e vaga para carro
        Pagamento pode ser por depósito</h3>
      </ion-card-content>
      <div class="imagem"><img src="../assets/rating.png"></div>
      <div class="botao">Entre em contato com o anunciante!</div>
    </ion-card>
  </div>

  <div class="anuncio">
    <ion-card>
      <img src="../assets/casa1.jpg"/>
      <ion-card-header>
        <ion-card-subtitle><h3>Postado por Renato</h3></ion-card-subtitle>
        <ion-card-title><h2>Rua Sebastião Lacerda 35, Laranjeiras</h2></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h3>Possui 4 quartos e vaga para carro</h3>
        <h3>Pagamento pode ser por depósito</h3>
      </ion-card-content>
      <div class="imagem"><img src="../assets/rating.png"></div>
      <div class="botao">Entre em contato com o anunciante!</div>
    </ion-card>
  </div>

</ion-content>
