
ion-toolbar{
    --ion-background-color: #ED1146;
    color: #F6F6F6;

}

ion-card{
    --ion-background-color: #ED1146;
}

ion-card-title{
    padding: 5%;
    width: 40%;
    text-align: center;
    margin-left: 30%;
}
ion-title{
    background-color: #ED1146;
    font-size: 1.2em;
}
ion-button{
    --ion-background-color: #ED1146;
    width: 70%;
    margin-bottom: 5%;
    font-size: 1em;
    font-weight: bolder;
}

.estrelas{
    display: flex;
    justify-content: center;
}

.toolbar{
    display: flex;
    align-items: center;
}

.h2{
    background-color: #F6F6F6;
    color: #ED1146;
    border-radius: 120px;
    display: flex;
    justify-content: center;
    font-size: 0.8em;

}

h1{
    background-color: #ED1146;
    color: #F6F6F6;
    padding: 2%;
    border-radius: 120px;
    font-weight: bold;

}

.barra{
    display: flex;
    justify-content: space-evenly;
}


.botao{
    display: flex;
    justify-content: center;
}
