<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <div class="menu">
      <ion-buttons slots="start">
           <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </div>
      <div class="title">
       <ion-title>Home</ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="barra">
    <h1>Topo</h1> <h1>Sugerido</h1> <h1>Novo</h1>        
  </div>

  <ion-card *ngFor="let republica of republicas">
    <img src="{{republica.imagem}}"/>
    <ion-card-header>
      <div class="estrelas"><img src="{{republica.imagemRating}}"/></div>
      <ion-card-title><div class="h2">{{republica.rating}}</div></ion-card-title>
    </ion-card-header>
    <div class="botao">
    <ion-button shape="round" fill="outline" routerLink="{{republica.router}}">Clique para saber mais!</ion-button>
    </div>
  </ion-card>



</ion-content>
