<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-buttons slots="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Cadastrar Usuário</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-fab class="foto" vertical="center" horizontal="center" slot="fixed">
      <img
          [src]="photo"
          vertical="center"
          horizontal="center"
          class="addFoto"
        />
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <h3>Adicionar Foto</h3>
    </ion-fab>

    <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)"> 
      <ion-list>

        <ion-item>
          <ion-label position="floating">Nome de Usuário</ion-label>
          <ion-input type="name" formControlName="name"></ion-input>
        </ion-item>

       <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar Senha</ion-label>
          <ion-input type="confirmPassword" formControlName="confirmPassword"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-radio-group mode="md" formControlName="status">
          <ion-list-header></ion-list-header>

            <ion-item>
              <ion-label>Locador</ion-label>
              <ion-radio slot="start" value="locador"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Locatário</ion-label>
              <ion-radio slot="start" value="locatario"></ion-radio>
            </ion-item>
          
        </ion-radio-group>

        <ion-row class="ion-justify-content-center">
          <ion-button type="submit" color="danger" shape="round" [disabled]="registerForm.invalid">Enviar</ion-button>
        </ion-row>

      </ion-list>
    </form>

  </div>
</ion-content>
